
<div class="main">

		 <ul class="rig columns-4">
     <% @music_photos.each do |m| %>
     
 	   <li>
 		
		<img src= "<%=m.title %>" class="picturebox"</img>
		<h3><%= m.description %></h3>
		<a href="/images/<%= m.id %>/edit">Edit</a> 
		<a href="/images/<%= m.id %>/edit">Delete</a>
	 </li>
  <% end %>
 </ul>


