<!-- Button trigger modal -->
<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" style="margin-left:420px; margin-top:100px;">
  Launch Poster Maker
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Uploading Photos is Dead! Copy and Paste One In!</h4>
      </div>
      <div class="modal-body">
        <form action="/images" method="post" >
			Title of your Poster: <input type="text" id="description" name="[music_photo]description"><br>
			Paste in a Image URL: <input type="text" id="title" name="[music_photo]title"><br>
			<!-- <input type="submit" value="Submit" position="center">
			</form> -->
      </div>
      <div class="modal-footer">
        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>





















