
<p><%= @new_title.description %></p>



 	<!-- <form action="/images"<%= @new_title.description %>" method="post">
 		<input type="hidden"  name="_method" value="delete" />
 		<input type="submit" value="Delete" />
 	</form> -->