
<p><%= @music_photo.description %></p>

<form action="/show" method="post" >
Title: <input type="type" id="description" name="[music_photo]description"><br>
Title: <input type="type" id="title" name="[music_photo]description"><br>
<input type="submit" value="Submit">
</form>